    meta{charset:UTF-8}
    html{font-family: Arial, Helvetica, sans-serif;}

    div.start
    {
        display: inline-block;
        vertical-align: top;
        width: 120px;
    }
    
    div.bidtable
    {
    }
    div.bidtable ul
    {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    div.bidtable li ul
    {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 120px;
    }

    .ccolor{color:DarkBlue}
    .dcolor{color:Orange}
    .hcolor{color:Red}
    .scolor{color:Black}
